@import url('./variable.css');

#main-game {
  /* width: 800px;
  height: 400px; */
  border: 2px solid black;
}

.preloader {
  background-color: var(--clr-black);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 1400px;
  min-height: 800px;
  margin: auto;
  margin-top: 100px;
  background-color: #0f0e13;
  background-image: radial-gradient(
      at 0% 0%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 50%
    ),
    radial-gradient(at 50% 0%, hsla(225, 39%, 30%, 1) 0, transparent 50%),
    radial-gradient(at 100% 0%, hsla(339, 49%, 30%, 1) 0, transparent 50%);
  display: flex;
  justify-content: center;
  position: relative;
}
.intro {
  filter: blur(10px);
}
.intro--img {
  height: auto;
  max-width: 300px;
  margin: auto;
  border: 2px solid black;
}
.intro--buttons {
  display: flex;
  border: 2px solid black;
  justify-content: center;
  gap: 200px;
}
.intro--buttons button {
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 10px;
}
.name__form {
  position: absolute;
  padding: 40px;
  top: 50%;
  z-index: 2;
  left: 50%;
  display: none;
  flex-direction: column;
  transform: translate(-50%, -50%);
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.name__input {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.btn {
  font-size: 14px;
  color: #222;
  padding: 10px 15px;
  background: #a69c9c;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.name__submit {
  outline: none;
  padding: 10px 5px;
  width: 100px;
  margin: auto;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.05);
}
.notification {
  position: absolute;
  padding: 15px 20px;
  font-size: 18px;
  right: 10px;
  top: 10px;
  z-index: 2;
  min-width: 250px;
  color: rgba(238, 225, 225, 0.7);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(15px);
  display: none;
  animation: display 0.25s ease;
}
.spinner {
  border: 15px solid var(--clr-black);
  border-top: 10px solid var(--sky-color);
  border-bottom: 10px solid var(--sky-color);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.5s linear infinite;
}
.map__editor {
  max-width: 1400px;
  display: none;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  padding: 30px 0px;
  position: relative;
  width: 1200px;
  align-items: center;
}
.editor__input {
}
.editor-canvas {
  background-color: var(--sky-color);
  position: relative;
  background-image: repeating-linear-gradient(
      rgb(158, 158, 158) 0 0.5px,
      transparent 1px 100%
    ),
    repeating-linear-gradient(
      90deg,
      rgb(158, 158, 158) 0 0.5px,
      transparent 1px 100%
    );
  background-size: 40px 40px;
}
.nav__button {
  position: absolute;
  top: 50%;
  right: -2%;
  transform: translateY(-50%);
  font-size: 60px;
  cursor: pointer;
  font-weight: 600;
  width: 50px;
  background-color: transparent;
  border: none;
  color: rgb(200 196 200);
}
.editor__top {
  display: flex;
  gap: 100px;
}
.button--left {
  left: -2%;
}
.tiles-wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.entities {
  height: 40px;
  width: 40px;
}
.saved__levels {
  display: none;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
